@import "tailwindcss";

:root {
  --background: #f6f6f8;
  --foreground: #111318;
  --primary: #135bec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101622;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lexend', 'Noto Sans KR', sans-serif;
}

/* Material Symbols 기본 설정 */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
